@use '~/styles/settings/colors' as *;

.InputText {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 2px solid $color-border;
    border-radius: 0.5rem;
    background-color: $color-text;
    color: $color-text-inverted;
    font-size: 1rem;
    transition: border-color 0.2s ease;
    outline: none;

    &::placeholder {
        color: $color-text-muted;
    }

    &:focus {
        border-color: $color-primary;
    }
}
