.DaySummary {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 2px solid currentColor;
    border-radius: 8px;
}

.DaySummary-weatherIcon {
    font-size: 2.5rem;
}

.DaySummary-temperature,
.DaySummary-precipitation,
.DaySummary-sunshine {
    font-size: 0.875rem;
}
