@use '~/styles/settings/colors' as *;

.Autocomplete {
    position: relative;
    width: 100%;
}

.Autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 0.25rem;
    padding: 0.25rem 0;
    list-style: none;
    background-color: $color-surface;
    border: 2px solid $color-primary;
    border-radius: 0.5rem;
    z-index: 10;
    max-height: 16rem;
    overflow-y: auto;
}

.Autocomplete-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: $color-text;

    &:hover,
    &:focus {
        background-color: $color-primary-alpha;
    }
}
