@use '~/styles/settings/colors' as *;

.Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    border: 2px solid;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
}

.Button--primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-text;

    &:hover,
    &:focus {
        background-color: $color-primary-light;
        color: $color-text-inverted;
    }
}

.Button--secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-text-inverted;

    &:hover,
    &:focus {
        background-color: $color-secondary-light;
    }
}
